{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%} 
<body style="background-image: none;" class="light-mode">

    <style>
        /* Line height for form elements */
        .form-holder select,
        .form-holder input[type="text"],
        .form-holder input[type="password"],
        .form-holder input[type="number"] {
            line-height: 1;
        }
    
        /* Add dropdown arrow to select elements */
        .form-holder select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23767676" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/></svg>');
            background-repeat: no-repeat;
            background-position: right 10px center;
            padding-right: 30px;
            min-width: 200px;
            width: 100%;
        }
    </style>

    <form method="POST" action="{{ url_for('coach.add_rating_category') }}" class="wrapper">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        <section>

            <div class="inner">
                <h5 class="h5_white_on_grey">Category Description</h5></br>
                Here you can add a new category to rate a player on</br></br>
                
                <div class="form-row form-group">
                    <div class="form-holder">
                        <label for="category_description">Category:</label>
                        {{ form.category_description(size=32, class="form-control", placeholder="Category") }}<br>
                        {% for error in form.category_description.errors %}
                            <span style="color: #8e1537;">{{ error }}</span><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="form-holder">
                        <button type="submit" class="btn green-btn" style="margin-top: 20px;">submit</button>
                    </div>
                </div>
            </div>
        </section>

    </form>

{% endblock %}