{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}

    <script src="{{url_for('static', filename='js/match_form.js') }}"></script>
    <!-- Using a script tag with a non-JavaScript type to hide the players json in
    which I can then access from an external javascript file -->
    <script type="application/json" id="players">
        {{ (players or [])|tojson }}
    </script>


    
    
</head>
<body style="background-image: none;">



    <h1>Create An Event</h1>
    <form method="POST" action="{{ url_for('coach.create_event_and_matches') }}">

        <!-- TennisEvent details -->
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required><br><br>

        <label for="home_venue">Home School:</label>
        <select id="home_venue" name="home_venue" required>
            {% for school in schools %}
            <option value="{{ school.id }}">{{ school.name }}</option>
            {% endfor %}
        </select><br><br>

        <label for="away_venue">Away School:</label>
        <select id="away_venue" name="away_venue" required>
            {% for school in schools %}
            <option value="{{ school.id }}">{{ school.name }}</option>
            {% endfor %}
        </select><br><br>

        <h1>Create A Match</h1>


        <div id="match-fields">
            {% if event is defined and 'matches' in event %}
                {% for match in event['matches'] %}
                
                    <div class="match-entry" id="match{{ loop.index0 }}">
                        Player 1 Name:
                        <select name="match[{{ loop.index0 }}][player1_name]" required>
                            {% for user_id, user_name in players.items() %}
                            <option value="{{ user_id }}" {% if match['player1_name']|string == user_id %}selected{% endif %}>
                                {{ user_name }}
                            </option>
                            {% endfor %}
                        </select><br><br>

            
                        Player 2 Name:
                        <select name="match[{{ loop.index0 }}][player2_name]" required>
                            {% for user_id, user_name in players.items() %}
                            <option value="{{ user_id }}" {% if match['player2_name']|string == user_id %}selected{% endif %}>
                                {{ user_name }}
                            </option>
                            {% endfor %}
                        </select><br><br>
            
                        Singles or Doubles:
                        <select name="match[{{ loop.index0 }}][singles_or_doubles]" required>
                            <option value="Singles" {% if match['singles_or_doubles'] == 'Singles' %}selected{% endif %}>Singles</option>
                            <option value="Doubles" {% if match['singles_or_doubles'] == 'Doubles' %}selected{% endif %}>Doubles</option>
                        </select><br><br>
            
                        Sets Played:
                        <input type="number" name="match[{{ loop.index0 }}][sets_played]" placeholder="Sets Played" value="{{ match['sets_played'] }}" min="1" required><br><br>
            
                        Sets Won:
                        <input type="number" name="match[{{ loop.index0 }}][sets_won]" placeholder="Sets Won" value="{{ match['sets_won'] }}" min="0" required><br><br>
            
                        Won or Lost:
                        <select name="match[{{ loop.index0 }}][won_or_lost]" required>
                            <option value="Won" {% if match['won_or_lost'] == 'Won' %}selected{% endif %}>Won</option>
                            <option value="Lost" {% if match['won_or_lost'] == 'Lost' %}selected{% endif %}>Lost</option>
                        </select><br><br>
            
                        Comment:
                        <textarea name="match[{{ loop.index0 }}][comment]" placeholder="Comment">{{ match['comment'] }}</textarea><br><br>
            
                        <button type="button" onclick="remove_match('match{{ loop.index0 }}')">Remove Match</button>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            
        
        <button type="button" onclick="addMatch()">Add Match</button>
        
        <input type="submit" value="Submit">
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            loadPlayersData();
        });
        </script>
    

{% endblock %}