{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content%}
  <div class="wrapper">
    <form method="POST">

      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
 
        <section>        
            <div class="inner">
              <div class="form-row">
                <div class="form-holder">
                  <input type="text" id="Email" name="Email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="form-row">
                <div class="form-holder">
                  <input type="password" id="Password" name="Password" class="form-control" placeholder="Password">
                  <i class="zmdi zmdi-lock-open small"></i>
                </div>
              </div>              
              <a href="#" class="avartar">Forgot Password</a>
              <sl-button variant="neutral" type="submit">Login</sl-button>
            </div>          
        </section>
    </form>
</div>


{% endblock %}
