{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%} 
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<meta name="csrf-token" content="{{ csrf_token() }}">


<body style="background-image: none;" class="light-mode">

<div class="container mt-4">
  <div class="row">

    <!-- PANEL ONE -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body" style="max-height: 250px; overflow-y: auto;">
          <h5 class="card-title">Notifications</h5>

            <table id="notificationsTable" class="table table-striped" style="width:100%">
              <thead>
                  <tr>
                      <th>Date</th>
                      <th>Sender</th>
                      <th>Comment</th>
                      <th>View</th>
                  </tr>
              </thead>
              <tbody>
                  {% for notification in user_notifications %}
                  <tr id="notificationRow_{{ notification.id }}">
                      <td>{{ notification.timestamp.strftime('%d/%m/%y') }}</td>
                      <td>{{ notification['sender_name'] }}</td>
                      <td>{{ notification.comment[:10] + '...' if notification.comment|length > 10 else notification.comment }}</td>
                      <td><button type="button" class="btn pink-btn btn-notifications" data-notification-id="{{ notification.id }}" 
                        data-sender-id="{{ notification.sender_id }}" data-date="{{ notification.timestamp }}" 
                        data-name="{{ notification.sender_name }}" data-message="{{ notification.comment }}" 
                        onclick="openModal(this)">View</button></td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>



    <!-- PANEL TWO -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Upcoming Fixtures</h5>
          <!-- {{user_upcoming_fixtures}} -->
          <table id="UserFixturesTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Opponent</th>
                    <th>Venue</th>
                    <th>No. of Matches</th>
                </tr>
            </thead>
            <tbody>
                {% for fixture in user_upcoming_fixtures %}
                <tr data-fixture-id="{{ fixture.id }}">
                    <td>{{ fixture.date.strftime('%d/%m/%y') }}</td>
                    <td>{{ fixture.opponent_name }}</td>
                    <td>{{ fixture.home_or_away }}</td>
                    <td class="matches-header">{{ fixture.number_of_matches }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>
      </div>
    </div>



    <!-- PANEL THREE -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body" style="max-height: 250px; overflow-y: auto;">
          <h5 class="card-title">Latest Coach Ratings</h5>
          <table id="example" class="table table-striped" style="width:100%">
              <tr>
                  <th>Category</th>
                  <th>Value ( / 10)</th>
              </tr>
              {% for rating, date, category in filtered_data %}
                  <tr>
                      <td>{{ category }}</td>
                      <td>{{ rating }}</td>
                  </tr>
              {% endfor %}
          </table>
        </div>
      </div>
    </div>

  </div>



  <div class="row">

    <!-- PANEL FOUR -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Matches Won vs Matches Lost</h5>
          <!-- need to figure out here how to present the LATEST/MOST RECENT scores per category -->
          <!-- {{won_or_lost_graph_data}} -->
          <canvas id="matchesPieChart"></canvas>
        </div>
      </div>
    </div>



    <!-- PANEL FIVE -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Coach Ratings Over Time</h5>
          <!-- Check these for testing purposes<br/><br/>
          {{user_notifications}}<br/><br/>
          {{datasets}}<br/><br/>
          {{players_rating_data}}<br/><br/>
          {{categories}}<br/><br/>
          {{ratings_query}} -->
          
          <div id="chart-container">
            <canvas id="userRatingsChart" ></canvas>
          </div>

        </div>
      </div>
    </div>



    <!-- PANEL SIX -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Progress Made</h5>
          <!-- PLAYER: {{player_ratings}}</br></br>
          COACH: {{coach_ratings}}</br></br> -->

          <canvas id="player_coach_ratings_chart"></canvas>

        </div>
      </div>
    </div>

  </div>

</div>



<!-- ### #CREATE THE MODAL THAT WILL APPEAR WHEN VIEWING NOTIFICATION #### -->
<!-- MODAL -->
<sl-dialog id="replyModal" label="Notification Details">
  <span class="bold-text">Date|Time: </span><span id="notificationDate"></span></br>
  <span class="bold-text">Sender: </span><span id="notificationSender"></span></br>
  <span class="bold-text">Message:</span></br><span id="notificationMessage"></span></br></br>
  <form id="replyForm" method="POST" action="{{ url_for('player.reply_to_notification') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="original_notification_id" id="originalNotificationId">
    <input type="hidden" name="receiver_id" id="receiverId">
    <sl-textarea name="reply_message" placeholder="Your reply..."></sl-textarea></br>
    <button type="submit" class="btn pink-btn btn-notifications">Send Reply</button>
  </form>
</sl-dialog>
<!-- ### #CREATE THE MODAL THAT WILL APPEAR WHEN VIEWING NOTIFICATION #### -->
<!-- ############################ FINISHED ############################### -->



<!-- ##### #CREATE THE MODAL THAT WILL APPEAR WHEN VIEWING THE SURVEY #### -->
<!-- Survey MODAL -->
{% if form %}
  {% if not survey_completed %}
  <!-- Survey Modal Start -->
  <sl-dialog label="Skill Level Self Assessment" id="surveyModal" open>
    <p>Welcome to Tennis Coach</p></br>
    <p>You will fill this 'Skill Level Self Assessment' form in only once (the first time you log
      in). It is important that you rate each of the skills honestly, so as to effectively see and
      monitor your progress and development over time.</p></br>
      <p>For each category rate yourself from 0-10 where 0 is poor and 10 is outstanding</p></br></br>
    </p>
 
    <form method="post" action="{{ url_for('player.submit_survey') }}">
      {{ form.hidden_tag() }}
      <div class="container">
          {% for field_name, field in form._fields.items() %}
              {# Skip CSRF token field for layout purposes #}
              {% if field.type != 'CSRFTokenField' %}
                  {# Open a new row for every two fields or at the start #}
                  {% if loop.index0 is divisibleby 2 %}
                      {% if not loop.first %}</div>{% endif %}
                      <div class="row">
                  {% endif %}
                  <div class="col-md-6">
                      <div class="form-group">
                          {{ field.label }}: {{ field(class="form-control") }}
                          {% if field.errors %}
                              <ul class="errors">
                                  {% for error in field.errors %}
                                      <li>{{ error }}</li>
                                  {% endfor %}
                              </ul>
                          {% endif %}
                      </div>
                  </div>
                  {# Automatically close the last row after the loop ends #}
                  {% if loop.last %}
                      </div>
                  {% endif %}
              {% endif %}
          {% endfor %}
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn pink-btn btn-notifications">Submit</button>
      </div>
  </form>
  
  </sl-dialog>
  <!-- Survey Modal End -->
  {% endif %}
{% endif %}

<!-- ##### #CREATE THE MODAL THAT WILL APPEAR WHEN VIEWING THE SURVEY #### -->
<!-- ############################ FINISHED ############################### -->



<!-- ##################################################################### -->
<!-- To detect which row has been pressed on the Upcoming Fixtures Table:  -->
<script>
  $(document).ready(function() {
      // Initialize DataTables on the fixtures table
      var table = $('#UserFixturesTable').DataTable({
          "order": [[0, "asc"]],
          "paging": false, // Disables pagination
          "searching": false, // Removes the search bar
          "info": false, // Will not show 'Showing 1 to N of N entries'
          "lengthChange": false, // Hides the 'Show entries' dropdown
          "ordering": false, // Disables sorting for all columns
          "columnDefs": [{
              "className": "dt-center",
              "targets": "_all"  // Applies centering to all columns for consistency
          }]
      });
  
      $('#UserFixturesTable').on('click', 'tbody tr', function() {
          var fixtureId = $(this).data('fixture-id');
          console.log(fixtureId); // 
          if (fixtureId) { // Proceed only if the fixture ID was found
              window.location.href = '/player_edit_fixture/' + fixtureId;
          }
      });
  });
  </script>
  
<!-- To detect which row has been pressed on the Upcoming Fixtures Table:  -->
<!-- ############################# FINISHED ############################## -->



<!-- ################## PLAYER RATINGS GRAPH PREPERATION ################# -->

<script>
  const players_rating_data = {{ players_rating_data | tojson | safe }};
  const labels = players_rating_data[0].Date;
  const datasets = players_rating_data.map(entry => {
    const randomColor = '#' + (Math.random().toString(16) + '000000').substring(2, 8); // Generate random color
    return{
      label: entry.Category,
      data: entry.Value,
      fill: false,
      borderColor: randomColor,
      backgroundColor: randomColor
    };
  });

  // Create the chart
  const ctx = document.getElementById('userRatingsChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: labels,
          datasets: datasets
      },
      options: {
        responsive: true,
          maintainAspectRatio: false,
          aspectRatio: 0.9, // Set a custom aspect ratio (e.g., 2:1)
          scales: {
              x: {
                  ticks: {
                      autoSkip: true,
                      maxRotation: 90, // Rotate 90 degrees
                      minRotation: 90  // Rotate 90 degrees
                  }
              },
              y: {
                  min: 0,
                  max: 10,
                  ticks: {
                      stepSize: 1
                  }
              }
          }
      }
  });
</script>

<!-- ################## PLAYER RATINGS GRAPH PREPERATION ################# -->
<!-- ############################# FINISHED ############################## -->



<!-- ############# Displaying DataTable for Notifications ################ -->
<script>
  $(document).ready(function() {
      // Initialize DataTables on the fixtures table
      var table = $('#notificationsTable').DataTable({
          "order": [[0, "asc"]],
          "paging": false, // Disables pagination
          "searching": false, // Removes the search bar
          "info": false, // Will not show 'Showing 1 to N of N entries'
          "lengthChange": false, // Hides the 'Show entries' dropdown
          "ordering": false, // Disables sorting for all columns
          "columnDefs": [{
              "className": "dt-center",
              "targets": "_all"  // Applies centering to all columns for consistency
          }]
      });
    });

    </script>

<!-- ############# Displaying DataTable for Notifications ################ -->
<!-- ########################### FINISH ################################## -->


<!-- ############# Displaying DataTable for Notifications ################ -->
<script>
  function openModal(button) {
    const notificationId = button.getAttribute('data-notification-id');
    const senderId = button.getAttribute('data-sender-id');
    const message = button.getAttribute('data-message');
    const date = button.getAttribute('data-date');
    const name = button.getAttribute('data-name');

    // Set the content in your modal
    document.getElementById('notificationMessage').textContent = message;
    document.getElementById('notificationDate').textContent = date;
    document.getElementById('notificationSender').textContent = name;
    document.getElementById('originalNotificationId').value = notificationId;
    document.getElementById('receiverId').value = senderId;

    document.querySelector('#replyModal').show();

    // Fetch request to mark the notification as read
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    fetch(`/mark-notification-read/${notificationId}`, {
      method: 'POST',
      headers: {
        "X-CSRFToken": csrfToken,
        "Content-Type": "application/json"
      },
      body: JSON.stringify({})
    })
    .then(response => {
      if (response.ok) {
        console.log("Notification marked as read");
        //remove row from the table
        document.getElementById(`notificationRow_${notificationId}`).remove();
      } else {
        console.error('Failed to mark notification as read');
      }
    });
  }
</script>

<!-- ############# Displaying DataTable for Notifications ################ -->
<!-- ########################### FINISH ################################## -->



<!-- # GRAPH FOR PROGRESS MADE PLOTTING PLAYER RAITNGS AGAINST COACHES LATESTS # -->

<script>
  // Retrieve player and coach ratings
  var playerRatings = {{ player_ratings | tojson }};
  var coachRatings = {{ coach_ratings | tojson }};

  // Extract category labels and ratings from dictionaries
  var categories = Object.keys(playerRatings);
  var playerData = Object.values(playerRatings);
  const randomColor1 = '#' + (Math.random().toString(16) + '000000').substring(2, 8); // Generate random color
  const randomColor2 = '#' + (Math.random().toString(16) + '000000').substring(2, 8); // Generate random color
  var coachData = categories.map(function(category) {
      return coachRatings[category] || null; // Handle missing coach ratings
  });

  // Create Chart.js line graph
  var ctx2 = document.getElementById('player_coach_ratings_chart').getContext('2d');
  var player_coach_ratings_chart = new Chart(ctx2, {
      type: 'line',
      data: {
          labels: categories,
          datasets: [{
              label: 'Player Ratings',
              data: playerData,
              borderColor: randomColor1,
              backgroundColor: randomColor1,
              fill: false
          }, {
              label: 'Coach Ratings',
              data: coachData,
              borderColor: randomColor2,
              backgroundColor: randomColor2,
              fill: false
          }]
      },
      options: {
        scales: {
            x: {
                ticks: {
                    autoSkip: true,
                    maxRotation: 90, // Rotate 90 degrees
                    minRotation: 90  // Rotate 90 degrees
                }
            },
            y: {
                beginAtZero: true,
                suggestedMax: 10
              }
          }
      }
  });
</script>

<!-- # GRAPH FOR PROGRESS MADE PLOTTING PLAYER RAITNGS AGAINST COACHES LATESTS # -->
<!-- ########################### FINISH ################################## -->



<!-- ################## PIE CHART FOR WON OR LOST GRAPH ################## -->

<script>
  var ctx3 = document.getElementById('matchesPieChart').getContext('2d');
  var matchesPieChart = new Chart(ctx3, {
      type: 'pie',
      data: {
          labels: {{ won_or_lost_graph_data.labels | tojson }},
          datasets: [{
              data: {{ won_or_lost_graph_data.data | tojson }},
              backgroundColor: [
                  'rgba(75, 192, 192, 0.2)',  // Won - green
                  'rgba(255, 99, 132, 0.2)'   // Lost - red
              ],
              borderColor: [
                  'rgba(75, 192, 192, 1)',
                  'rgba(255, 99, 132, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          responsive: true,
          legend: {
              position: 'top',
          },
          title: {
              display: true,
              text: 'Won vs Lost Matches'
          }
      }
  });
  </script>


<!-- ################## PIE CHART FOR WON OR LOST GRAPH ################## -->
<!-- ########################### FINISH ################################## -->

{% endblock %}