{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%} 
<body style="background-image: none;" class="light-mode">

<div class="container mt-4">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title h5_white_on_grey curve5">Theme</h5>
  
            <sl-switch id="theme-toggle" checked>Dark Mode (ensure swatch below is set to transparent)</sl-switch></br></br>

            <sl-color-picker
                label="Select a color"
                swatches="
                    #353f4c; #8e1537; #ffffff; #eba3b1;
                ">
            </sl-color-picker> Choose your own background colour

          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Panel 2</h5>
            <p class="card-text">Content for Panel 2 goes here.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Panel 3</h5>
            <p class="card-text">Content for Panel 3 goes here.</p>
            <div>
              <canvas id="myChart"></canvas>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}