{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="Email">Email Address</label>
    <input
      type="text"
      id="Email"
      name="Email"
      class="form-control"
      value="{{ email }}" required
      placeholder="Enter Email"
    />
    <label for="Username">Username</label>
    <input
      type="text"
      id="Username"
      name="Username"
      class="form-control"
      value="{{ username }}" required
      placeholder="Enter Username"
    />
    <label for="Password1">Password</label>
    <input
      type="Password"
      id="Password1"
      name="Password1"
      class="form-control"
      placeholder="Enter Password"
    />
    <label for="Password2">Password Again</label>
    <input
      type="Password"
      id="Password2"
      name="Password2"
      class="form-control"
      placeholder="Enter Password Again"
    />
    <label for="Forename">Forename</label>
    <input
      type="text"
      id="Forename"
      name="Forename"
      class="form-control"
      value="{{ forename }}" required
      placeholder="Enter Forename"
    />
    <label for="Surname">Surname</label>
    <input
      type="text"
      id="Surname"
      name="Surname"
      class="form-control"
      value="{{ surname }}" required
      placeholder="Enter Surname"
    />
    <label for="Role">Coach or Player</label><br />
    <input type="radio" id="Coach" name="Role" value="Coach">
    <label for="Coach">Coach</label><br />
    <input type="radio" id="Player" name="Role" value="Player" checked>
    <label for="Player">Player</label>
    <br />
    <div align="center">
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
  </div>
</form>
{% endblock %}
