{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%} 
<body style="background-image: none;" class="light-mode">

<style>
    /* Adjust line height for form elements */
    .form-holder select,
    .form-holder input[type="text"],
    .form-holder input[type="password"],
    .form-holder input[type="number"] {
        line-height: 1; /* Adjust the line height as needed */
    }

    /* Add dropdown arrow to select elements */
    .form-holder select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23767676" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 10px center;
        padding-right: 30px; /* Adjust the padding to leave space for the arrow */
        min-width: 200px; /* Adjust as needed */
        width: 100%; /* Allow fields to expand to fill available space */
    }
</style>



<form method="POST" action="{{ url_for('coach.submit_rating') }}" class="wrapper">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <section>
        Select a Player and submit their rating for a particular category
        <div class="inner">
            
            <div class="form-row form-group">
                <div class="form-holder">
                    <label for="ratee_id">Player:</label>
                    {{ form.ratee_id(class="form-control", id="ratee_id") }}
                </div>
            </div>
            <div class="form-row form-group">
                <div class="form-holder">
                    <label for="rating_category">Category:</label>
                    {{ form.rating_category(class="form-control", id="rating_category") }}
                </div>
            </div>
            <div class="form-row form-group">
                <div class="form-holder">
                    <label for="value">Value:</label>
                    {{ form.value(class="form-control", id="value") }}
                </div>
            </div>
            <div class="form-row form-group">
                <div class="form-holder">
                    <button type="submit" class="sl-button" style="margin-top: 20px;">Submit</button>
                </div>
            </div>
        </div>
    </section>
    
</form>




{% endblock %}